<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
<h2>로그인</h2>
<form id="loginForm" action="/auth/login" method="post">
    <div>
        <label for="id">ID:</label>
        <input type="text" id="id" name="userId" required>
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="로그인">
    </div>
</form>

<a href="/auth/join">회원가입</a>
</body>
</html>
